@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: "Inter", sans-serif;
  background: #7cc0cd;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: transparent;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 5em;
  color: #e1e1e1;
}

h2 {
  font-size: 3em;
}

h3 {
  font-weight: 500;
  font-size: 2em;
}

redu {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #b02d27;
}

blueu {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #274265;
}

header {
  min-height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #274265;
}

.model {
  padding: 10vh 20vw;
}

fieldset {
  border: 2px solid #e1e1e1;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  padding: 5vh 5vw;
  text-align: center;
}

legend {
  border: 2px solid #e1e1e1;
  padding: 0px 15px;
  background: #7cc0cd;
  font-size: 1.2em;
  color: #e1e1e1;
  font-weight: 700;
}

.model fieldset h2 {
  margin-block-end: 0;
}

.model fieldset h3 {
  margin-block-start: 0;
}

.methodology {
  background-color: #1c2b4a;
  color: #e1e1e1;
  width: 100vw;
}

.methodology-flex {
  display: flex;

  align-items: center;
}

#methodology-title  {
  padding: 3vh 2vw 0vh 2vw;
  margin-block: 0;
  text-align: center;
}

.methodology fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh 2vw;
}

.methodology fieldset:nth-of-type(1) {
  min-width: 16vw;
}

.methodology fieldset:nth-of-type(2) {
  min-width: 23vw;
}

.methodology fieldset:nth-of-type(3) {
  min-width: 10vw;
}

@media (max-width: 1430px) {
  .methodology-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .methodology fieldset {
    padding: 2vh 5vw;
  }
  .methodology-flex h2 {
    margin-block: 0;
  }
}

@media (pointer: coarse) {
  header {
    text-align: center;
    padding: 0 5em;
  }
  .methodology fieldset {
    margin: 1em 2vw;
  }
}
